/* подключаем шрифты из гугл фонтс */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* обнуляющие базовые настройки */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #5d4949;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* .wrapper {
  width: 1280px;
  margin: 50px auto;
} */

/* меню */
.nav_Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  background-image: linear-gradient(#e39470, transparent)
}

header .logo {
  align-self: center;
  font-weight: 600;
  font-size: 20px;
  color: #5d4949;
}

header ul.nav {
  /* float: right; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

header ul.nav li {
  padding: 10px;
  cursor: pointer;
  transition: opacity 500ms ease;
  font-size: 20px;
  color: #5d4949;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .cart_logo {
  cursor: pointer;
  transition: color 500ms ease;
  margin-right: 20px;
}

header .cart_logo:hover,
header .cart_logo.active {
  color: red
}

/* обложка */
header .presentation {
  margin: 50px 0;
  background: url('./img/cover.jpg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: #bcbcbc;
  position: relative;
}

header .presentation::after {
  content: 'Лучшие свечи для декора вашего дома';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #5d4949;
}

header .presentation::before {
  content: 'по лучшим ценам';
  position: absolute;
  top: 310px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #5d4949;
}

/* .show_more_btn {
  background-color: transparent;
  border: none;
  color: blue;
  margin-left: 10px;
  cursor: pointer;
} */

/* блоки с товарами */

main {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main .item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: #e5dddb;
  width: 350px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* чтобы изображение не выходило за рамки при увеличении */
  overflow: hidden;
}

main .item img {
  border-radius: 10px 10px 0 0;
  /* для плавного увеличения изображения */
  transition: transform 500ms ease;
}

main .item img:hover {
  /* увеличиваем изображение при наведении */
  transform: scale(1.05); 
}

main h2, main p, main b {
  margin: 10px 20px;
  color: #333;
}

main b {
  color: #008000;
  font-size: 20px;
}

main .add_to_cart {
  background-color: #e39470;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add_to_cart:hover {
  transform: scale(1.5) translateY(-5px);
}

/* подошва + добавить карту */
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

/* адаптация + проверить на кроссбраузерность */
@media all and (max-width: 800px) {
  header .presentation {
    max-width: 800px;
  }

  header .presentation::after {
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 30px;
  }
  
  header .presentation::before {
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 15px;
  }
}

@media all and (max-width: 500px) {
  header .presentation {
    max-width: 500px;
  }

  header .presentation::after {
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 20px;
  }
  
  header .presentation::before {
    top: 170px;
    left: 50px;
    width: 300px;
    font-size: 15px;
  }
}